body{
    margin: 0px;
    font: normal 20px arial;
}

header > div > svg {
    width: 60px;
    height: 60px;
}

header {
    display : flex;
    background-color: #023535;
    justify-content: center;
    align-items: center;
}

main {
    background-image: ;
    text-align: right;
}

main > span{
    margin-inline-end: 20%;
}

footer > div > svg {
    width: 35px;
    height: 35px;
}