.light {
    background-color:#6C6D74 ;

    background-color:#575CDE ;

    background-color:#e9e7e7 ;

    background-color:#FCFCFC;
    background-color:#EBEBEB;
    background-color:#c0c0c0;
    background-color:#0077FF;
    background-color:#333333;
}

.dark {
    background-color:#333333;
    background-color:#434343;
    background-color:#585858;
    background-color:#3664FF;
    background-color:#B5B5B5;
}

/* 

    var(--bg)
    var(--bg-panel)
    var(--bg-tasks)
    var(--color-headings)
    var(--color-text)
    
*/