body {
    /* background-image: url(ChinesWebMaisLeve.png); */
    font: normal 20px arial;
}

/* Título */
header {
    color: white;
    text-align: center;

    /* -webkit-text-stroke:1px black -- isto não fico bom */
}

h1 {
    font: normal 50px italic;
}

/*  Conteúdo */
section {
    background: whitesmoke;
    border-radius: 37px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.815);
}

/* SobTítulo */
footer {
    color: white;
    text-align: center;
    font-style: italic;
}