.trueOrFalse {
    padding: 1rem;
    background-color: #313131;
    width: fit-content;
}

.changeTheValue {
    display: flex;
    align-items: center
}

.buttonToChangeTheValue {
    padding: 0.2rem 0.4rem;
    margin-right: 0.4rem;
}

.textTrueOrFalse {
    margin-left: 10px;
}