.trueOrFalse {
    padding: 1rem;
    background-color: #2b2b2b;
    width: fit-content;
}

.changeTheValue {
    display: flex;
    align-items: center
}

.buttonToChangeTheValue {
    padding: 0.2rem 0.4rem;
    margin-right: 0.4rem;
}