header {
  overflow: hidden;
  background-color: #000000;
  padding: 20px 10px;
  margin: 15px;
}

header > h1{
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 30px;
  line-height: 25px;
  border-radius: 2px;
}